* {
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

body {
  margin: 0px;
  background-color: white;
  padding: 0px;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  --color-white: #eaeaea;
  --color-light: #a0a0ff;
  --color-dark: rgb(14 14 89);
  --color-overlay-filter: rgb(82 82 154);
}

.overlayFilter {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  mix-blend-mode: hard-light;
  background-color: var(--color-overlay-filter);
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay {
  background-color: var(--color-white);
  width: 100vw;
  height: 100dvh;
}

.overlayBar {
  fill: black;
}

.button {
  cursor: pointer;
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 0px;
  color: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: inherit;
  font-family: inherit;

  &:hover {
    background-color: unset;
  }

  &.disabled {
    opacity: 0.75;
  }

  &:focus-visible {
    outline: none;
    background-color: black;
  }
}

.center {
  display: grid;
  position: fixed;
  top: 50dvh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: difference;
  width: 100vw;
  color: white;
  letter-spacing: 0.125em;
  text-align: center;
}

.ui {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  mix-blend-mode: exclusion;
  box-sizing: border-box;
  color: white;
}

.header,
.footer {
  display: flex;
  position: absolute;
  right: 0px;
  left: 0px;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
  transition: opacity 0.5s;
  box-sizing: border-box;
  margin-inline: 20px;
  color: white;
}

.header {
  mix-blend-mode: exclusion;

  & > h1 {
    filter: blur(7px);
    transition: filter 0.75s;
    font-weight: 300;
    font-size: 72pt;

    &:not(.playing),
    &.selected {
      filter: blur(0px);
    }
  }
}

.footer {
  bottom: 0px;
  z-index: 1;
  pointer-events: none;
}

.playButton {
  width: 46px;
  height: 46px;
  pointer-events: all;

  & > svg {
    margin-block: -2px;
    width: 46px;
    height: 46px;
    color: var(--color-white);
  }
}

.timeControl {
  position: relative;
  margin-block-end: 20px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: var(--color-white);
  width: 175px;
  max-width: 100%;
  height: 40px;
  overflow: hidden;
  pointer-events: all;
  color: black;

  & > .top {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    pointer-events: none;

    font-style: normal;
    font-family: 'Anonymous Pro', monospace;

    & > div,
    & > output {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    & > div {
      padding-bottom: 2px;
      aspect-ratio: 1 / 1;
      width: 40px;
      text-align: center;
    }
  }

  & > .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}
